<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoControls" version="1.0.1" targetFramework="net461" />
  <package id="CircularProgressBar" version="2.7.0.7" targetFramework="net461" />
  <package id="Forms.Controls.FlexButton" version="0.11.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Syncfusion.Grid.Base" version="17.3.0.34" targetFramework="net461" />
  <package id="Syncfusion.Grid.Windows" version="17.3.0.34" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.3.0.34" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="17.3.0.34" targetFramework="net461" />
  <package id="Syncfusion.Shared.Windows" version="17.3.0.34" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.3.0.912540" targetFramework="net461" />
</packages>